{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Page de sortie de {{ event.id }}</h1>

    <div class="container">
        <h1>Afficher une sortie</h1>
        <div class="row">
            <div class="col-md-6">
                <dl class="row event-info">
                    <dt class="col-sm-5">Nom de la sortie :</dt>
                    <dd class="col-sm-7">{{ event.name }}</dd>

                    <dt class="col-sm-5">Date et heure de début :</dt>
                    <dd class="col-sm-7">{{ event.startDateTime|date('d/m/Y H:i') }}</dd>

                    <dt class="col-sm-5">Date et heure de fin:</dt>
                    <dd class="col-sm-7">{{ event.endDateTime|date('d/m/Y H:i') }}</dd>

                    <dt class="col-sm-5">Date limite d'inscription :</dt>
                    <dd class="col-sm-7">{{ event.registrationDeadLine|date('d/m/Y H:i') }}</dd>

                    <dt class="col-sm-5">Nombre de places :</dt>
                    <dd class="col-sm-7">{{ event.maxParticipants }}</dd>

                    <dt class="col-sm-5">Description et infos :</dt>
                    <dd class="col-sm-7">{{ event.eventInfo }}</dd>
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="row event-info">
                    <dt class="col-sm-5">Ville organisatrice :</dt>
                    <dd class="col-sm-7">{{ event.place.city.name }}</dd>

                    <dt class="col-sm-5">Lieu :</dt>
                    <dd class="col-sm-7">{{ event.site.name }}</dd>

                    <dt class="col-sm-5">Rue :</dt>
                    <dd class="col-sm-7">{{ event.place.name }}</dd>

                    <dt class="col-sm-5">Code postal :</dt>
                    <dd class="col-sm-7">{{ event.place.city.postCode }}</dd>

                    <dt class="col-sm-5">Latitude :</dt>
                    <dd class="col-sm-7">{{ event.place.latitude }}</dd>

                    <dt class="col-sm-5">Longitude :</dt>
                    <dd class="col-sm-7">{{ event.place.longitude }}</dd>
                </dl>
            </div>
        </div>

        <h3>Liste des participants inscrits :</h3>
        <div class="table-responsive participants-table">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in event.registeredParticipants %}
                    <tr>
                        <td><a class="link-body-emphasis link-underline-opacity-0"
                               href="{{ path('user_profile',{'id': participant.id }) }}">{{ participant.pseudo }}</a>
                        </td>
                        <td><a class="link-body-emphasis link-underline-opacity-0"
                               href="{{ path('user_profile',{'id': participant.id }) }}">{{ participant.name }}</a></td>
                    </tr>
                {% else %}
                    <p>pas de participants</p>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if state == 'Annulée' %}
            <dt class="col-sm-5">Raison de l'annulation :</dt>
            <dd class="col-sm-7">{{ event.cancelReason }}</dd>

        {% endif %}


        {% if app.user %}
        {% if event.registeredParticipants.contains(app.user) %}
        <button class="btn btn-secondary" disabled>
            Déjà inscrit
        </button>
        <form method="post" action="{{ path('event_unregister', {id: event.id}) }}">
            <button class="btn btn-danger">
                Se désinscrire
            </button>
        </form>
            {% elseif event.registeredParticipants|length >= event.maxParticipants %}
                <button class="btn btn-danger" disabled>
                    Complet
                </button>
            {% elseif event.registrationDeadline <date('now') %}
                <button class="btn btn-danger" disabled>
                    Date d'inscription dépassée
                </button>
            {% elseif state == 'Annulée' %}
                <button class="btn btn-danger" disabled>
                    Sortie annulée
                </button>
            {% elseif state =='Ouverte' %}
                <form method="post" action="{{ path('event_register', {id: event.id}) }}">
                    <button type="submit" class="btn btn-primary">
                        S'inscrire
                    </button>
                </form>
            {% else %}
                <p>Une erreur est survenue</p>
            {% endif %}
            {% else %}
                <a href="{{ path('user_login') }}" class="btn btn-primary">
                    Connectez-vous pour vous inscrire
                </a>
            {% endif %}
    </div>

{% endblock %}
