<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome World ! La dream team du fond 2 est présente{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}


    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <span class="sortir-logo"><i class="bi bi-geo-alt-fill"></i> Sortir.com</span>
            </a>
            <button class="navbar-toggler" type="button" style="display: none;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_create') }}">Créer une sortie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_display', {'id' : 15}) }}"> Afficher une sortie</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ORGANISATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_edit', {'id' : 15}) }}">Modifier une sortie</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ORGANISATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_cancel', {'id' : 15}) }}">Annuler une sortie</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_cities') }}">Gérer les villes</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_places') }}"> Gérer les sites</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_register') }}"> Inscription</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    




        {% block body %}{% endblock %}
    </body>
</html>
