<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome World ! La dream team du fond 2 est présente{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/ENI.svg') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <span class="sortir-logo"><i class="bi bi-geo-alt-fill"></i> Sortir.com</span>
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                {% if is_granted('ROLE_ADMINISTRATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_interface') }}">Interface Administrateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_cities') }}">Gérer les villes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('manager_places') }}"> Gérer les sites</a>
                    </li>
                {% endif %}

                {%  if is_granted('ROLE_ORGANISATEUR') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event_create') }}">Créer une sortie</a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profile',{'id': app.user.id}) }}"> Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_register') }}"> Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_login') }}">Connexion</a>
                    </li>
                {% endif %}


            </ul>
</nav>


{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


{% block body %}{% endblock %}

<input type="button" value="page précédente" onclick="javascript:history.back()">

<footer>
    <div class="container">
        &copy; Sortir-ENI {{ "now"|date("Y") }}
    </div>
</footer>


</body>
</html>
