{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    {% if mode == 'edit' %}
    <h1>Modification du profil de {{ user.pseudo }}</h1>
    {% elseif mode == 'create' %}
    <h1>Créer un nouveau profil</h1>
    {% endif %}
<div class="row-justify-content-center">
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}

    {{ form_row(form.pseudo, {label: 'Pseudo' }) }}
    {{ form_row(form.firstName, {label: 'Prénom' }) }}
    {{ form_row(form.name, {label: 'Nom' }) }}
    {{ form_row(form.phone, {label: 'Téléphone' }) }}
    {{ form_row(form.email, {label: 'Email' }) }}

    {{ form_row(form.site, {label: 'Ville de rattachement' }) }}

    {{ form_row(form.poster_file, {label: 'Modifier ma photo' }) }}


    {% if user.poster %}
        <img src="{{ asset('uploads/profile/' ~ user.poster) }}" alt="Photo de {{ user.pseudo }}" width="150">
    {% endif %}
    <br>
    <br>

    {% if mode == 'edit' %}
        {% if user.id %}
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {% endif %}
    {% elseif mode == 'create' %}
        <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
    {% endif %}

</div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
