{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-card">
            <h1>Modification du profil de {{ user.pseudo }}</h1>

            {{ form_start(form) }}

            {{ form_row(form.pseudo, {label: 'Pseudo' }) }}
            {{ form_row(form.firstName, {label: 'Prénom' }) }}
            {{ form_row(form.name, {label: 'Nom' }) }}
            {{ form_row(form.phone, {label: 'Téléphone' }) }}
            {{ form_row(form.email, {label: 'Email' }) }}
            {{ form_row(form.site, {label: 'Ville de rattachement' }) }}
            {{ form_row(form.poster_file, {label: 'Modifier ma photo' }) }}

            {% if user.poster %}
                <div class="profile-image">
                    <img src="{{ asset('uploads/profile/' ~ user.poster) }}" alt="Photo de {{ user.pseudo }}">
                </div>
            {% endif %}

            {% if user.id %}
                <button type="submit" class="btn-edit">Enregistrer les modifications</button>
            {% endif %}
            {{ form_rest(form) }}

            {{ form_end(form, { 'render_rest': false }) }}
        </div>
    </div>
{% endblock %}
