{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Affichage du profil de {{ user.pseudo }}</h1>

    <p>Prénom : {{ user.firstName }}</p>
    <p>Nom : {{ user.name }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Ville de rattachement  : {{ user.site }}</p>
    <p> Photo de profil : {{ user.poster }}</p>

    {% if user.poster %}
        <img src="{{ asset('uploads/profile/' ~ user.poster) }}" alt="Photo de {{ user.pseudo }}" width="150">
    {% endif %}
    <br>
    <a href="{{ path('home') }}" class="btn">Retour</a>

{% endblock %}




